extends layout

block content
  if messages
  section(id="messages")
    each message in messages
      div(class='usermsg')  
        div(class='username') #{message.user}
        hr(class='line')
        div(class='msg') #{message.text}
  button(id="newMsgBtn" onclick="location.href='/new'") New Message