extends layout

block content
  if messages
  section(id="messages")
    each message in messages
      div(class='usermsg')  
        div #{message.user}
        div #{message.text}
  button(id="newMsgBtn" onclick="location.href='/new'") New Message