extends layout 

block content 
    form(action="/new", method="post")
        input(type="text", name="author", placeholder="Enter your name" id="userNameInput")
        br
        input(type="textarea", name="message", placeholder="Enter your message" id="userTextInput")
        br
        input(type="submit", value="Send" id="sendBtn")

